header
    padding: 20px 0
    .imgbox
        width: 40px
    .menu
        display: none

    nav
        a
            color: #8c8999
            font-size: 20px
            margin-right: 30px
        .home-color
            color: #74bebc

    @media screen and ( max-width: 620px )
        nav
            display: none
        .menu
            display: flex
            margin-right: 20px
            font-size: 32px
            h3
                font-weight: 700
            .icon
                i
                    margin-right: 10px
